In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn
import datetime as dt
import numpy as np

In [4]:
df=pd.read_csv('StatewiseTestingDetails.csv',parse_dates=['Date'],dayfirst=True)

C:\Users\Ram ji\AppData\Local\Temp\ipykernel_8512\2866787225.py:1: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df=pd.read_csv('StatewiseTestingDetails.csv',parse_dates=['Date'],dayfirst=True)

In [5]:
df.head()

        Date                        State  TotalSamples Negative  Positive
0 2020-04-17  Andaman and Nicobar Islands        1403.0     1210      12.0
1 2020-04-24  Andaman and Nicobar Islands        2679.0      NaN      27.0
2 2020-04-27  Andaman and Nicobar Islands        2848.0      NaN      33.0
3 2020-05-01  Andaman and Nicobar Islands        3754.0      NaN      33.0
4 2020-05-16  Andaman and Nicobar Islands        6677.0      NaN      33.0

In [6]:
df.tail()

            Date        State  TotalSamples Negative  Positive
16331 2021-08-06  West Bengal    15999961.0      NaN       NaN
16332 2021-08-07  West Bengal    16045662.0      NaN       NaN
16333 2021-08-08  West Bengal    16092192.0      NaN       NaN
16334 2021-08-09  West Bengal    16122345.0      NaN       NaN
16335 2021-08-10  West Bengal    16162814.0      NaN       NaN

In [9]:
today=df[df.Date == '2021-08-10']